<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ch.hslu.prencar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ch.hslu.prencar.Properties.Settings>
            <setting name="ConfigurationFilesPath" serializeAs="String">
                <value>.\configurations</value>
            </setting>
            <setting name="DebugFilesPath" serializeAs="String">
                <value>.\logs</value>
            </setting>
        </ch.hslu.prencar.Properties.Settings>
    </userSettings>
</configuration>